.art {
	position: relative;
	width: 100%;
	height: 100%;
}

img.artwork {
	display: block;
	margin: auto;
}

.col-md-4 {
	min-height: 0px;
	padding: 0px;
}

a.showMeta {
	display: inline-block;
	width: 100%;
	height: 100%;
}

div.meta {
	display: none;
	margin: auto;
}