footer.navbar-fixed-bottom {
	height: 50px;
}

div.container-fluid {
	padding-left: 47%;
	padding-right: 0px;
	padding-top: 10px;
}

div.images {
	margin: 20px;
}

div.art {
	text-align: center;
}

img.artwork {
	display: inline;
	position: relative;
	margin: 0 auto;
}

a.showMeta {
	display: inline-block;
	text-decoration: none;
	color: #333;
}

div.meta {
	position: relative;
	display: none;
	margin: 0 auto;
	text-align: left;
	width: 100%;
	margin: 10px;
}

button.more-images {
	color: #fff;
	margin: 0 auto;
}